<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cal">

	<resultMap type="calDto" id="calDto">
		<result property="ca_no" column="CA_NO" />
		<result property="ca_title" column="CA_TITLE" />
		<result property="ca_content" column="CA_CONTENT" />
		<result property="ca_mdate" column="CA_MDATE" />
		<result property="ca_regdate" column="CA_REGDATE" />
		<result property="mb_id" column="mb_id" />
	</resultMap>
	
	<insert id="insertCal" parameterType="calDto">
		INSERT INTO CALANDAR
		VALUES(CALANDARSEQ.NEXTVAL, ?, ?, ?, SYSDATE, ?)
	</insert>
	
	<select id="getCalList" resultType="calDto">
		SELECT CA_NO, CA_TITLE, CA_CONTENT, CA_MDATE
		FROM CALENDAR
		WHERE MB_ID = #{mb_id} AND SUBSTR(CA_MDATE, 1, 8) = ?
	</select>
	
	<select id="selectOne" resultType="calDto">
		SELECT CA_NO, CA_TITLE, CA_CONETEN, CA_MDATE, CA_REGDATE, MB_ID
		FROM CALENDAR
	</select>
	
	<update id="update" parameterType="calDto">
		UPDATE CALENDAR
		SET CA_TITLE = #{ca_title}, CA_CONTENT = #{ca_content}
		WHEERE CA_NO = #{ca_no}
	</update>
	
	<select id="getViewList" resultType="calDto">
		SELECT CA_NO, CA_TITLE, CA_CONTENT, CA_MDATE, CA_REGDATE, MB_ID
		FROM (SELECT (ROW_NUMBER() OVER (PARTITION BY SUBSTR(CA_MDATE, 1, 8) ORDER BY CA_MDATE))RN,
		CA_NO, CA_TITLE, CA_CONTENT, CA_MDATE, CA_REGDATE, MB_ID FROM CALENDAR
		WHERE MB_ID = ${mb_id} AND SUBSTR(CA_MDATE, 1, 6) = #{ca_mdate}.substring(1, 6) WHERE RN BETWEEN 1 AND 3
	</select>
	
	<select id="getViewCount" resultType="calDto">
		SELECT COUNT(*) FROM CALENDAR
		WHERE MB_ID = #{mb_id} AND SUBSTR(CA_MDATE, 1, 8) = #{ca_mdate}.substring(1, 8)
	</select>
	
	<delete id="delte" parameterType="int">
		DELETE FROM CALENDAR
		WHERE CA_NO = #{ca_no}
	</delete>

</mapper>
